@model PartyInvites.Models.MyProduct

@{
    ViewBag.Title = "Guest Information";
}

Product: @Model.Name
<br/>
<div class="btn btn-default">
    @Html.ActionLink("NameAndPrice", "NameAndPrice")
</div>
<br/>
<div class="btn btn-default">
    @Html.ActionLink("DemoExpressions", "DemoExpressions")
</div>

<div class="btn btn-default">
    @Html.ActionLink("DemoArray", "DemoArray")
</div>




