@model PartyInvites.Models.MyProduct

@{
    ViewBag.Title = "NameAndPrice";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>NameAndPrice</h2>
The Product name is @Model.Name and it costs $ @Model.Price

